attrs@git+https://github.com/python-attrs/attrs
numpy@git+https://github.com/numpy/numpy
pandas@git+https://github.com/pandas-dev/pandas
pint@git+https://github.com/hgrecco/pint
# Building scipy from source
# requires a specific compiler and openblas
# so it's definitely less easy than the rest
# (
#   On a mac, this required:
#   Also needed:
#   - `brew install llvm openblas`
#   - `export CC=/opt/homebrew/opt/llvm/bin/clang`
#   - `export CXX=/opt/homebrew/opt/llvm/bin/clang++`
#   - `export PKG_CONFIG_PATH="/opt/homebrew/opt/openblas/lib/pkgconfig"`
# )
scipy@git+https://github.com/scipy/scipy
tqdm@git+https://github.com/tqdm/tqdm
